<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c288aa">  <td>23/07/27 17:27:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcase01.TC01()[pri:0, instance:Testcase.Testcase01@771a660]">TC01</td> 
  <td>main@646910062</td>   <td></td> </tr>
<tr bgcolor="8aa092">  <td>23/07/27 17:28:00</td>   <td>21536</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.close()[pri:0, instance:Testcase.Testcase01@771a660]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@646910062</td>   <td></td> </tr>
</table>
